/* Statistics.css */

.stat {

}

.stat_head{
    display: flex;
    margin: 2vh;
    font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: 2rem;
    line-height: 2rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: center;
    justify-content: center;
    /* align-items: center; */
}